<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/navbar') %>
    <h1>All Subscriptions</h1>

    <% foundSubscription.forEach((oneSubscription) => { %>
        <hr>
        <div>
            <h2><%= oneSubscription.subName %></h2>
            <p>Bill: <%= oneSubscription.price %></p>
            <p>First Subscription: <%= oneSubscription.startDate.toLocaleDateString("en-GB") %></p>
            <p>Next Charge: <%= oneSubscription.endDate.toLocaleDateString("en-GB") %></p>
            <a href="/subscriptions/<%= oneSubscription._id %>">more details</a>
        </div>
        <hr>
    <% }); %>
</body>
</html>