<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Subscription Details</h1>

    <h2><%= foundSubscription.subName %></h2>
    <p>Category: <%= foundSubscription.subCategory  %></p>
    <p>Price: <%= foundSubscription.price %></p>
    <p>Initial Subscription: <%= foundSubscription.startDate %></p>
    <p>Rebill: <%= foundSubscription.endDate %></p>
</body>
</html>